<%= form_for(@user, url: {controller: :users, action: :create}) do |f| %>
  <h2>New User</h2>
  <fieldset>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: 'text'%>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email, required: true, class: 'text' %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, required: true, class: 'text'%>
      <span class="passwd-hint">Please ensure that your Password has a minimum of 6 characters</span>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true, class: 'text'%>
    </p>
    <p>
      <%= f.submit 'Register', class: 'button' %>
    </p>
  </fieldset>
<% end %>
<%= link_to 'Login', user_sessions_path %>